body {
    background-color: gainsboro;
}

div {
    margin: 100px;
    border: white 3px dotted;
    padding: 15px;
    text-align: center;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 200px;
    top: 300px;
}