@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Ownglyph_ParkDaHyun';
  background-color: #fff6f0;
  color: #333;
}

#header {
  background-color: #fcdde0;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#header h1 {
  margin: 0;
  font-size: 28pt;
  color: #d65f8c;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #7c5e99;
  font-size: 16pt;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #c38bdc;
  font-size: 18pt;
}

#siteContentArea {
  max-width: 800px;
  margin: 130px auto 30px; /* 좌우 auto로 가로 가운데 정렬 */
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 자식 요소 가로 가운데 정렬 */
  padding-top: 80px;
  text-align: center;
}

.aRecord{
  width: 90%;
  border: navy;
  box-shadow: 0px 0px 20px white inset;
  border-radius: 10px;
}

.aRecord .imgTd{
  width: 200px;
}

.aRecord .imgTd img{
  max-width: 180px;
  max-height: 180px;
}