@font-face {
    font-family: "JUA";
    src: url("BMJUA_ttf.ttf");
    font-family: "DOHYEON";
    src: url("BMDOHYEON_ttf.ttf")
}
a{
    text-decoration: none;
}
body{
    /* 기본여백 삭제*/
    margin: 0px;
    padding: 0px;
}
#siteTitleArea{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
}
#siteTitle{
    width: 1200px;
    height: 60px;
    color: darkslategrey;
    font-family: "DOHYEON";
    font-weight: 550;
    font-size: 30pt;
}
#siteMenuArea{
    background-color: #1b1182;
}
#siteMenu{
    width: 1200px;
    height: 50px;
}
#siteMenu a{
    margin-right: 50px;
    font-family: "DOHYEON";
    font-size: 15pt;
    font-weight: 100;
    color: #e1e9e9;
}
#siteMenu a:hover{
    color: #c3c1f5;
    font-size: 20pt;
}
#siteContentArea{
    /* 단독 테이블 가운데 정렬*/
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 150px;
}
